<div class='row projectsContainer'>
        <div class='col left-half'>
            <h1>Projects</h1>
        </div>
        <div class='col right-half'>
           <div class='row'>
                <div class='col-2'></div>
                <div class='col-8'>
                    <div class='carousel'>
                            <div class='header row'>
                                <div class="col-2"></div>
                                    <div class='img-container col-8'>
                                        <img src="{{projects[counter].img}}" alt="project photo">
                                    </div>
                                    <div class="col-2"></div>
                            </div>

                            <div class='body row'> 
                                <div class="col-2">
                                    <div class='arrowLeft' (click)="backSlide()"></div>
                                </div>
                                <div class="col-8 body-col">
                                    <h2>{{projects[counter].name}}</h2>
                                    <p>{{projects[counter].description}}</p>
                                    <h5 class='mt-3'>The Tech</h5>
                                    <div class='row tech_section mb-4'>
                                    <div *ngFor='let item of projects[counter].tech'>
                                        <div class='pr-2'>{{item}}</div>
                                    </div>
                                    </div>
                                    <a href="{{projects[counter].github}}">Checkout the code on GitHub!</a>
                                </div>
                                <div class="col-2">
                                    <div class='arrowRight' (click)="nextSlide()"></div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class='col-2'></div>
            </div>
        </div>
    </div>