.projectsContainer{
    height: 950px;
    margin:0 ! important;
    padding:0 ! important; 
}

.card-containers{
    img{
        height: 60%
    }
}
  
.left-half{
    background-color: #218380;
    margin:0 ! important;
    padding:0 ! important; 
}

.right-half{
    margin:0 ! important;
    padding:0 ! important; 
}
