    <div class='row projectsContainer'>
        <div class='col left-half'>
            <h1>Projects</h1>
        </div>
        <div class='col right-half'>
                <ngb-carousel>
                    <div></div>
                        <ng-template ngbSlide *ngFor="let project of projects">
                          <img [src]="project.img" alt="Random first slide">
                          <div class="carousel-caption">
                            <h3>First slide label</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                          </div>
                        </ng-template>
                      </ngb-carousel>
    </div>
