.projectsContainer{
    height: 950px;
    margin:0 ! important;
    padding:0 ! important; 
}

  
.left-half{
    margin:0 ! important;
    padding:0 ! important; 
}

.right-half{
    margin:0 ! important;
    padding:0 ! important; 
    background-color: #218380;
}

.carousel{
    border: solid black 15px; 
    margin-top: 20px;
    width: 500px;
    height: 900px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .header{
        max-width: 90%;
        max-height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: space-between;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .arrowRight{
            width: 0; 
            height: 0; 
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid black;
            margin-left: 10px;
        }

        .arrowRight:hover{
            width: 0; 
            height: 0; 
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid lightgray;
            margin-left: 10px;
        }

        .arrowLeft{
            width: 0; 
            height: 0; 
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent; 
            border-right:20px solid black; 
            margin-right: 10px;
        }

        .arrowLeft:hover{
            width: 0; 
            height: 0; 
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent; 
            border-right:20px solid lightgray; 
            margin-right: 10px;
        }

    }

    .body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

}


// .header{
//     width: 50%;
//     // img{
//     //     width: 400px;
//     // }
// }

