.projectsContainer{
    height: 950px;
    margin:0 ! important;
    padding:0 ! important; 
}

  
.left-half{
    margin:0 ! important;
    padding:0 ! important; 
}

.right-half{
    margin:0 ! important;
    padding:0 ! important; 
    background-color: #218380;
}

.carousel{
    border: solid black 1px; 
    margin-top: 20px;
    width: 100px;
}

.header{
    width: 50%;
    img{
        width: 400px;
    }
}

