<div class='contact_container row'>
  <div class='col left-half'>
      <a href="https://github.com/jculver1">
        <i class="fab fa-github fa-9x"></i>
      </a>
      <a href="https://www.linkedin.com/in/jessica-m-culver/"> 
        <i class="fab fa-linkedin fa-9x"></i>
      </a>
      <a href="mailto:jculver1900@gmail.com"> 
          <i class="fas fa-envelope-square fa-9x"></i>
      </a>
      <a href="https://drive.google.com/file/d/1ea0B4xnXyZE6bk21cXin7lhIpYQ_Baxw/view?usp=sharing">
          <i class="fas fa-file fa-9x"></i>
        </a>  
  </div>
  <div class='col right-half'>
    <h1 class='align-self-center'>Contact</h1>
    <h1 class='align-self-center'>Me</h1>
  </div>
</div>