.contact_container{
    height: 850px;

    .left-half{
      
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    .right-half{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Fascinate Inline', cursive;

        h1{
            font-size: 80px;
            margin-right: 10px;
            margin-left: 10px;
        }
    } 
      
    @media screen and (max-width:700px) {  
        .right-half {
          display: none;
        }
        .left-half{
            background-color:  white;  
            i{
                color: black;
            }
            i:hover{
                color: #218380;
            }
        }
    }


    @media screen and (min-width:699px) {  
      
       .left-half{
        background-color: #218380; 
        i{
            color: white;
        }
        i:hover{
            color: black;
        }
    }
    }

}