.container-fluid{
    margin:0 ! important;
    padding:0 ! important;
    }

.header{
    background-repeat: no-repeat;
    height: 900px;

    img {
        border-radius: 50%;
      }
}


.row{
    margin:0 ! important;
    padding:0 ! important; 
}

@media screen and (max-width:700px) {  
    .imageSelector {
      display: none;
    }
}
.left-half{
    height: 100%;
    background-color: #BA5C12;
    display: flex;
    justify-content: center;
}

.right-half{
    height: 100%;
}


// *{
//     border: solid red 1px;
// }