  <div class='container-fluid'>
    <div class='row'>
    </div>
      <div class='row header'>
        <div class='col-6 mt-5 imageSelector'>
            <img src="../assets/images/selfie.jpg" alt="myself">
        </div>
        <div class='col-6 mt-5'>
            <div class='row mt-5 d-flex justify-content-center'>
                <h1>Jessica Culver</h1>
            </div>
            <div class='row row mt-5 d-flex justify-content-center'>
                <h3>Full Stack Web Developer</h3>
            </div>
            <div class='row row mt-5 d-flex justify-content-center'>
                <div class="linkbox">
                    <a pageScroll href="#skills">skills </a>
                    <a pageScroll href="#projects">projects  </a>
                    <a pageScroll href="#contact">contact </a>
                </div>
           </div>
      </div>
    </div>

  <!-- padding row above -->
  <div class='row'>
    <div id='skills'>
      <app-skills></app-skills>
    </div> 
  </div>
  <div class='row'>
    <div id='projects'>
      <app-projects></app-projects>
    </div>
  </div>
  <div class='row'>
    <div id='contact'>
      <app-contact></app-contact>
    </div>
  </div>
</div>
